<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS LIST</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        table {
            width: 50%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid green
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: greenyellow
        }
    </style>
</head>
<body>
    <h1>USERS LIST</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>MOBILE</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobile }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No users found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
